In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

C:\Users\Range\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [2]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [3]:
student_data_df.loc[student_data_df["reading_score"]>=70]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [4]:
student_data_df.loc[(student_data_df["reading_score"]>=70)&(student_data_df["math_score"]>=70)]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [5]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [6]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]=="9th")]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76
37540,37540,Austin Meyer,M,9th,Thomas High School,73,96
37543,37543,Madison Hampton,F,9th,Thomas High School,82,73
...,...,...,...,...,...,...,...
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84

In [7]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]=="9th"),"reading_score"]=np.NaN

In [8]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79
1,1,Victor Smith,M,12th,Huang High School,94.0,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60
3,3,Richard Scott,M,12th,Huang High School,67.0,58
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75

In [9]:
student_data_df.loc[(student_data_df["school_name"] == "Thomas High School") & (student_data_df["grade"]=="9th"),"math_score"]=np.NaN

In [10]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [11]:
student_count=school_data_df[school_data_df["school_name"]=="Thomas High School"]
student_count

    School ID         school_name     type  size   budget
14         14  Thomas High School  Charter  1635  1043130

In [12]:
student_count_test=student_data_df[student_data_df["grade"]!="9th"]
student_count_test

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
6,6,Sheena Carter,F,11th,Huang High School,82.0,80.0
7,7,Nicole Baker,F,12th,Huang High School,96.0,69.0
...,...,...,...,...,...,...,...
39163,39163,John Reese,M,11th,Thomas High School,90.0,75.0
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [13]:
student_count_test.count()

Student ID       27762
student_name     27762
gender           27762
grade            27762
school_name      27762
reading_score    27762
math_score       27762
dtype: int64

In [14]:
passing_both=student_count_test.loc[(student_count_test["reading_score"]>=70)&(student_count_test["math_score"]>=70)]

In [15]:
passing_reading=student_count_test.loc[(student_count_test["reading_score"]>=70)]

In [16]:
passing_math=student_count_test.loc[(student_count_test["math_score"]>=70)]

In [17]:
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,NaN,NaN
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0

In [18]:
student_data_df_merge=pd.merge(student_count,student_count_test)

In [19]:
student_data_df_merge

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76.0,76.0
1,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84.0,82.0
2,14,Thomas High School,Charter,1635,1043130,37541,Eric Stevens,M,10th,80.0,76.0
3,14,Thomas High School,Charter,1635,1043130,37542,Elizabeth Bennett,F,11th,91.0,94.0
4,14,Thomas High School,Charter,1635,1043130,37544,Jacqueline Harris,F,10th,71.0,92.0
...,...,...,...,...,...,...,...,...,...,...,...
1169,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90.0,75.0
1170,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99.0,90.0
1171,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95.0,70.0
1172,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99.0,90.0
1173,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95.0,75.0

In [20]:
#get the total number of students
student_count=student_data_df_merge["Student ID"].count()
student_count

1174

In [21]:
#number of students passing math
passing_math=student_data_df_merge.loc[(student_data_df_merge["math_score"]>=70)].count()


#number of students passing reading
passing_reading=student_data_df_merge.loc[(student_data_df_merge["reading_score"]>=70)].count()

#number of students passing both
passing_both=student_data_df_merge.loc[(student_data_df_merge["reading_score"]>=70)&(student_data_df_merge["math_score"]>=70)].count()

In [22]:
#passing both
passing_both_percentage=passing_both/float(student_count)*100

In [23]:
school_count=school_count=school_data_df["school_name"].count()

In [24]:
total_budget=school_data_df["budget"].sum()

In [25]:
student_count_all=student_data_df["Student ID"].count()
student_count_all

39170

In [26]:
average_reading_all=student_data_df["reading_score"].mean()
average_math_all=student_data_df["math_score"].mean()
passing_math_all=student_data_df["math_score"]>=70
passing_reading_all=student_data_df["reading_score"]>=70
passing_both_all=student_data_df[(student_data_df["math_score"]>=70)&(student_data_df["reading_score"]>=70)]

In [27]:
#percent passing math
passing_math_percentage_all=passing_math_all/float(student_count_all)*100

#percent passing reading
passing_reading_percentage_all=passing_reading_all/float(student_count_all)*100

In [28]:
passing_both_all_count=passing_both_all.count()

In [29]:
overall_passing_percentage=passing_both_all_count/float(student_count_all)*100